.detailContactCard {
  margin: var(--list-card-spacing);
  margin-top: calc(var(--header-height) + var(--list-card-spacing));
  background: #fff;
  border-radius: var(--list-card-spacing);
  padding: var(--list-card-spacing);
}
.detailContactCard .error {
  font-style: italic;
  color: rgb(184, 0, 151);
}
.detailContactCard img {
  display: block;
  width: 12rem;
  height: 12rem;
  background-color: #ddd;
  margin-left: auto;
  margin-right: auto;
}

.detailContactCard dd {
  margin: 0;
}
.detailContactCard dl > * {
  margin: 0;
  padding: 0;
}
.detailContactCard dl {
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-template-rows: auto 2rem 3rem auto;
  column-gap: 0.9rem;
  row-gap: 1rem;
}

.detailContactCard .ddName {
  font-size: 1.5rem;
  font-style: italic;
  margin-left: -2.2rem;
  margin-top: 0.4rem;
}
.detailContactCard dt {
  visibility: hidden;
}
.detailContactCard dt::before {
  visibility: visible;
  font-family: "Material Icons";
  color: #aaa;
  font-size: 1.5rem;
  content: "";
}
.detailContactCard .dtEmail::before {
  content: "mail";
}

.detailContactCard .dtPhone::before {
  content: "phone";
}

.detailContactCard .dtAddress::before {
  content: "house";
}

/*
.detailContactCard .dtName {
  display: none;
}
.detailContactCard .ddName {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
}

.detailContactCard dt {
  margin-top: 1rem;
  visibility: hidden;
  width: 0;
  height: 0;
}


}*/

.detailBackButton {
  position: absolute;
  left: 1rem;
  top: 2.35rem;
  background-color: rgb(63, 63, 138);
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  line-height: 3.1rem;
  border-radius: 1.2rem;
  box-sizing: border-box;
  text-align: center;
  color: #daf;
}
.detailBackButton:hover {
  background-color: rgb(95, 95, 166);
  color: #fff;
  cursor: pointer;
}

.detailBackButton.active {
  background-color: rgb(95, 95, 166);
  line-height: 3rem;
  color: #fff;
  cursor: pointer;
  border: 1px #daf solid;
}

@media (min-width: 600px) {
  .detailContactCard dl {
    margin: 1rem;
  }
}

@media (min-width: 800px) {
  .detailContactCard {
    width: 31rem;
    margin-left: auto;
    margin-right: auto;
  }
  .detailContactCard dl {
    width: 17rem;
    margin-left: auto;
    margin-right: auto;
  }
}
