.listContactCard {
  position: relative;
  background-color: #fff;
  padding: 0.5em;
  padding-left: calc(1.5em + var(--thumbnail-image-width));
  display: flex;
  flex-direction: column;
  border-radius: 0.2em;
  box-shadow: 0 2px 2px #00000088;
  margin: 0.7em;
}

.listContactCard.active {
  top: 2px;
  box-shadow: 0 0 2px #00000088;
}

.listContactCard-image {
  position: absolute;
  top: 8px;
  left: 8px;
  width: var(--thumbnail-image-width);
  height: var(--thumbnail-image-width);
  background: #ddd;
  border-radius: 0.2em;
}

.listContactCard-name {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
}

.listContactCard-extra {
  color: #999;
  white-space: nowrap;
  overflow: hidden;
}
